<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ScreenSpy.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ScreenSpyConfig.ScreenSpyConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ScreenSpy.ScreenSpy" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <ScreenSpy.Config>
            <setting name="ImageWidth" serializeAs="String">
                <value>960</value>
            </setting>
            <setting name="ImageHeight" serializeAs="String">
                <value>540</value>
            </setting>
            <setting name="Endcoder" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ProgramDirectory" serializeAs="String">
                <value>C:\ScreenShots</value>
            </setting>
            <setting name="DuplicateImgSensitivity" serializeAs="String">
                <value>1045000</value>
            </setting>
            <setting name="CaptureFrequency" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ColorPicture" serializeAs="String">
                <value>False</value>
            </setting>
        </ScreenSpy.Config>
        <ScreenSpyConfig.ScreenSpyConfig>
            <setting name="ImageWidth" serializeAs="String">
                <value>960</value>
            </setting>
            <setting name="ImageHeight" serializeAs="String">
                <value>540</value>
            </setting>
            <setting name="Endcoder" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ProgramDirectory" serializeAs="String">
                <value>C:\ScreenShots</value>
            </setting>
            <setting name="DuplicateImgSensitivity" serializeAs="String">
                <value>1045000</value>
            </setting>
            <setting name="CaptureFrequency" serializeAs="String">
                <value>10</value>
            </setting>
        </ScreenSpyConfig.ScreenSpyConfig>
        <ScreenSpy.ScreenSpy>
            <setting name="ImageWidth" serializeAs="String">
                <value>960</value>
            </setting>
            <setting name="ImageHeight" serializeAs="String">
                <value>540</value>
            </setting>
            <setting name="Endcoder" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ProgramDirectory" serializeAs="String">
                <value>C:\ScreenShots</value>
            </setting>
            <setting name="DuplicateImgSensitivity" serializeAs="String">
                <value>1045000</value>
            </setting>
            <setting name="CaptureFrequency" serializeAs="String">
                <value>10</value>
            </setting>
        </ScreenSpy.ScreenSpy>
    </userSettings>
</configuration>
